<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <h1 class="select">Select Your City</h1>
  <p class="lead">
    <div ng-init="location='Seattle'">
      <p>
        <label class="locationlabel" for="location">Location:
          <input type="text" name="location" ng-model="location">
        </label>
      </p>
      <p>
        <button class="btn btn-lg btn-primary btnFind" ng-click="findCities()">Find City</button>
      </p>
    </div>
    <div class="searchResult" ng-if="searchQuery">
      <p class="lead">{{citiesFound.count}} cities found matching the query: {{searchQuery}}.</p>
      <dl class="maindl" ng-repeat="city in citiesFound.list">
        <dt class="maindt">{{city.name}}, {{city.sys.country}}</dt>
        <dd class="maindd">{{city.weather[0].main}} - {{city.weather[0].description}}</dd>
        <dt class="maindt">Temperature</dt>
        <dd class="maindd">{{city.main.temp}} &deg;F</dd>
        <dd><a ng-href="#/current/{{city.id}}" class="btn btn-lg btn-primary viewWeather">View Weather</a></dd>
      </dl>

    </p>
  </div>
  <div id="savedCitiesContainer" ng-if="storage.savedCities">
    <ul id="savedCities" class="saved-cities-list">
      <li class="savedButtons" ng-repeat="city in storage.savedCities">
        <a id="savetext" ng-href="#/current/{{city.id}}" class="btn btn-lg btn-primary">{{city.name}}</a>
      </div>